#!/bin/bash

# FILEPATH: /Users/bobby/dev/first-pass/.direnv
NODE_ENV=development
JSON_SCHEMA_PATH=$(pwd)/json_schemas

export NODE_ENV
export JSON_SCHEMA_PATH

# Load the Node.js version specified in your .tool-versions file
layout nodejs
